@import url("reset.css");
@import url("http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

@font-face {
    font-family: "Satisfy";
    font-style: normal;
    font-weight: 400;
    src: local("Satisfy"), url("http://fonts.gstatic.com/s/satisfy/v6/2OzALGYfHwQjkPYWELy-cw.woff2")
        format("woff2"), url("http://fonts.gstatic.com/s/satisfy/v6/ch7X2unYkww0EzsjlC3m8w.woff")
        format("woff");
}

@font-face {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    src: local("Quicksand"), url("../fonts/Quicksand-Regular.otf");
}

html {
    height: 99%;
}

body {
    height: 99%;
    background-image: url("../images/background.jpg");
    background-size: 100%;
    background-attachment: fixed;
    margin: 0;
    font-family: Quicksand, helvetica, arial, sans-serif;
}

header {
    top: 0;
    z-index: 1;
    width: 100%;
    height: 42px;
    background-color: #9DBE2F;
    border-bottom: 1px solid black;
    position: fixed;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}

#head {
    width: 1100px;
    height: 42px;
    margin: 0 auto;
    position: relative;
}

#search {
    text-align: right;
    padding: 5px 6px 0 0;
    display: inline-flex;
    float: right;
}

#menu-top {
    width: 1100px;
    z-index: 1;
    position: absolute;
    background-color: #9DBE2F;
    height: 42px;
    top: 43px;
    left: 0;
    border-bottom-width: 1px;
    border-style: solid;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}

#menu-top li {
    text-align: center;
    line-height: 42px;
    display: block;
    float: left;
    height: 42px;
    width: 219px;
    border-right: 1px solid black;
}

#menu-top li:hover {
    background-color: #ABCF35;
}

#menu {
    z-index: 1;
    width: 275px;
    height: 600px;
    padding: 20px;
    position: absolute;
    background-color: #D0E392;
    top: 102px;
    right: 15px;
}

#menu ul {
    margin-left: 20px;
    list-style-type: disc;
}

#menu li {
    line-height: 1.3em;
}

main {
    height: 99%;
    z-index: 0;
    width: 1100px;
    position: relative;
    min-height: 200px;
    margin: 0 auto;
    background-color: #FBFCE3;
    border-style: solid;
    border-width: 1px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}

#content {
    width: 740px;
    margin: 102px 0 75px 15px; 
}

#map {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 10px;
}

#create input {
    width: 200px;
    border: 2px solid lightgray;
    
}

#create select {
    width: 206px;
    border: 2px solid lightgray;
}

#wechselndesbild {
    text-align: center;
}

table {
    margin-top: 20px;
}

table p {
    text-align: left;   
}

/*table td {
    padding: 10px;
    vertical-align: middle;
}*/

.food {
    width: 250px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.buttons {
    margin-right: 15px;
    margin-top: 30px;
    background: #9DBE2F;
    background-image: -webkit-linear-gradient(top, #9DBE2F, #7D962A);
    background-image: -moz-linear-gradient(top, #9DBE2F, #7D962A);
    background-image: -ms-linear-gradient(top, #9DBE2F, #7D962A);
    background-image: -o-linear-gradient(top, #9DBE2F, #7D962A);
    background-image: linear-gradient(to bottom, #9DBE2F, #7D962A);
    border-radius: 6px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Quicksand, Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
}

.buttons:hover {
    background: #A6C931;
    text-decoration: none;
}

footer {
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #9DBE2F;
    border-top: 1px solid black;
    position: fixed;
    -webkit-box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.75);
}

#foot {
    width: 1100px;
    height: 42px;
    margin: 0 auto;
    position: relative;
    text-align: right;
}

#foot p {
    margin: 6px;
}

#gradient-top {
    position: fixed;
    top: 84px;
    margin: 0 auto;
    height:70px;
    width:1100px;
    background: -moz-linear-gradient(top, rgba(251,252,227,1) 0%, rgba(137,255,241,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,rgba(251,252,227,0.0), color-stop(50%,rgba(137,255,241,1.0)))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(251,252,227,1) 0%, rgba(137,255,241,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(251,252,227,1) 0%, rgba(137,255,241,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(251,252,227,1) 0%, rgba(137,255,241,0) 100%); /* IE10+ */
}
#gradient-bot {
    position: fixed;
    bottom: 30px;
    margin: 0 auto;
    height:70px;
    width:1100px;
    background: -moz-linear-gradient(top, rgba(137,255,241,0) 0%, rgba(251,252,227,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(137,255,241,0)), color-stop(100%,rgba(251,252,227,1.0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(137,255,241,0) 0%, rgba(251,252,227,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(137,255,241,0) 0%, rgba(251,252,227,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(137,255,241,0) 0%, rgba(251,252,227,1) 100%); /* IE10+ */
}

/* Normal elements */
p {
    margin: 1em 0;
    color: #2c2c2c;
    text-align: justify;
}

/*a {
    color: #357534;
    font-weight: bold;
    text-decoration: none;  
}*/

#head a {
    color: #004300;
}

h1 {
    margin-top: 15px;
    margin-left: 5px;
    font-family: Satisfy;
    display: inline-flex;
    font-size: 1.7em;
}

h2 {
    font-family: Satisfy;
    font-size: 1.5em;
    margin-bottom: .5em;
    color: #004300;
}

h3 {
    font-size: 1.34em;
}

h4{
    font-size: 1.5em;
    margin-bottom: .5em;
    color: #004300;
    text-align: center;
}

.text1{
    margin-left: 50px;
    margin-right: 50px;
}

#liste {
    width: 100%;
    margin-top: 30px;
    border: 1px solid #6688AA;
}

#liste th {
    font: bold 11px Quicksand, Arial, Verdana, sans-serif;
    text-align: center;
    padding: 3px;
    background-color: rgb(157, 190, 47);
    border: 1px solid #FFFFFF;
    color: #004300;
}

#liste td {
    font: normal 11px Quicksand, Arial, Verdana, sans-serif;
    padding: 5px;
    background-color: #D0E392;
    border: 1px solid #FFFFFF;
    line-height: 130%;
    text-align: center;
}

/* Search Bar in Header */
#tftextinput{
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #0076a3; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}
#tfbutton {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #0076a3; border-right:0px;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}
.tfbutton:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    /*-moz-linear-gradient(center top , #fabc63, #f28f01) repeat scroll 0% 0% transparent*/
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
    border: 0;
}
.tfclear{
    clear:both;
}

/* -------------- social media buttons -------------- */

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
social-network social-circle a {
 background-color: #D3D3D3;   
}
